USE [master]
GO
/****** Object:  Database [DEPOOmBA01]    Script Date: 14/11/2022 16:54:26 ******/
CREATE DATABASE [DEPOOmBA01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEPOOmBA01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DEPOOmBA01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEPOOmBA01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DEPOOmBA01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEPOOmBA01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEPOOmBA01]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 14/11/2022 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 14/11/2022 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[idPregunta] [int] IDENTITY(1,1) NOT NULL,
	[nroPregunta] [int] NOT NULL,
	[descripcion] [varchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntaSecreta]    Script Date: 14/11/2022 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaSecreta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pregunta] [varchar](200) NOT NULL,
	[respuesta] [varchar](200) NOT NULL,
 CONSTRAINT [PK_PreguntaSecreta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 14/11/2022 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[idRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](300) NOT NULL,
	[esCorrecta] [bit] NOT NULL,
	[idPregunta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/11/2022 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[idEstado] [int] NOT NULL,
	[idPregunta] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([id], [descripcion]) VALUES (1, N'activo')
INSERT [dbo].[Estado] ([id], [descripcion]) VALUES (2, N'inactivo')
INSERT [dbo].[Estado] ([id], [descripcion]) VALUES (3, N'bloqueado')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([idPregunta], [nroPregunta], [descripcion]) VALUES (1, 111, N'¿Cuántos años de soledad transcurren en la novela de García Márquez?')
INSERT [dbo].[Pregunta] ([idPregunta], [nroPregunta], [descripcion]) VALUES (2, 112, N'¿Cómo se llama el dictador de "1984", la novela de Orwell?')
INSERT [dbo].[Pregunta] ([idPregunta], [nroPregunta], [descripcion]) VALUES (3, 113, N'¿Con qué nombre era más conocido el escritor Alexei Maximovich Peshkov?')
GO
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuesta] ON 

INSERT [dbo].[Respuesta] ([idRespuesta], [descripcion], [esCorrecta], [idPregunta]) VALUES (1, N'NOVENTA', 0, 1)
INSERT [dbo].[Respuesta] ([idRespuesta], [descripcion], [esCorrecta], [idPregunta]) VALUES (2, N'CIEN', 1, 1)
INSERT [dbo].[Respuesta] ([idRespuesta], [descripcion], [esCorrecta], [idPregunta]) VALUES (3, N'OCHENTA', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Respuesta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [user], [password], [idEstado], [idPregunta]) VALUES (1, N'fbalbuena', N'1234', 1, 0)
INSERT [dbo].[Usuario] ([id], [user], [password], [idEstado], [idPregunta]) VALUES (2, N'lmpaiva', N'1234', 1, 0)
INSERT [dbo].[Usuario] ([id], [user], [password], [idEstado], [idPregunta]) VALUES (3, N'mnieto', N'1234', 1, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Pregunta] FOREIGN KEY([idPregunta])
REFERENCES [dbo].[Pregunta] ([idPregunta])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Pregunta]
GO
USE [master]
GO
